body {
    /*estilo de letras*/

    font-family: 'Climate Crisis', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Jura', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Rajdhani', sans-serif;
}

header {
    background-image: url(./imagenes/fondoDePantalla.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0 0 1rem 0;
}

#logo {
    height: 90px;
    width: 100px;
}

/**************************encabezado****************************/
#encabezadoLinks {
    margin: 0 6rem 2rem 6rem;
    padding: 3rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#listaDeNombres {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
}


#fotoPrin {
    padding: 2rem;
    margin: 0 6rem 2rem 6rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    background-image: url('./fotos/imagenLargaHero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 600px;

    /*estilo de letras*/

    font-family: 'Climate Crisis', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Jura', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Rajdhani', sans-serif;

}


#fotoPrin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(204, 185, 101, 0.5); /* Color rojo transparente */
    z-index: 1; /* Poner la capa detrás de la imagen, pero encima del contenido */

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#fotoPrin>h1 {
    font-size: 6rem;
    font-weight: 700;
    z-index: 2;
}
#fotoPrin>p, #fotoPrin>button,#fotoPrin>ul{
    font-size: 1.9rem;
    font-weight: 700;
    z-index: 2;
}  
#fotoPrin>p{
    font-size: 3rem;
}

#siguenos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
    text-decoration: none;

    align-items: center;
    justify-content: center;
}

#fotoPrin>button{
    border: 1px solid;
    background-color: rgba(185, 172, 51, 0.63);
    padding: 0.5rem;
    border-radius: 19px;
}

/***************************para que se oculte la X *****************/
@media (min-width: 891px) {

    #abrir,
    #botonParaCerrar {
        visibility: hidden;
    }
}



/**********************************hambuerguesa***************************************/

@media (max-width: 890px) {

    #encabezadoLinks {
        padding: 1rem 0rem 1rem 0rem;
        margin: 0 2.5rem 0 2.5rem;
        display: flex;
        align-items: center;

    }

    #nav {
        position: absolute;
        background-color: black;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        transition: 0.4s;

        opacity: 0;
        visibility: hidden;

        /*letras*/
        color: white;
        text-decoration: none;
    }

    #nav.visible {
        opacity: 1;
        visibility: visible;
        transition: 0.4s;

        z-index: 2;
    }

    #listaDeNombres {
        list-style-type: none;
        display: flex;
        flex-direction: column;

    }

    #listaDeNombres>li {
        padding: 1rem 0 0 0;
    }

    #listaDeNombres>#botonParaCerrar {
        background-color: transparent;
        color: #ffffff;
        border: white 1px;
        padding: 10px;
        border-radius: 5px;
    }

    .abrirMenu {
        background-color: transparent;
        color: black;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        margin-left: auto;

    }

    #fotoPrin {
        padding: 2rem;
        margin: 0 2.5rem 2rem 2.5rem;
        position: relative;
        background-image: url('./fotos/imagenLargaHero.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
    }




}